#logo{
    padding-left: 20px;
}

#image1{
    width:100%;
  /* -webkit-filter: blur(4px);
  -webkit-transform: translate3d(0,0,0);
*/
}

p.carousel-text{
    padding: 25px;
    font-size: 100px;
}

.carousel-item h1{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
}

nav#topNav{
    position: fixed;
    
    z-index: 100;
}
 
div.card.small{
    height: 320px;
}

.teal-text{
    color: #1de9b6 !important;
}
div.greyedout{
    background-color: #424B54 !important;
}

.dark-teal-text{
    color: #0F7173 !important;
}

.col.l6 .card-image{
    max-height: 200px;   
}

.card.large .card-image+.card-content#aboutcard{
    max-height: 100%; 
}

a#careerbtn{
    margin:auto;
}

.fa{
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 15px;
}

.teal-gradient{
    background: -webkit-linear-gradient(117deg, rgba(122,255,189,1) 11%, rgba(122,255,189,1) 17%, rgba(94,225,175,1) 36%, rgba(0,128,128,1) 100%) !important;
}

.invisible{
    background: transparent !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

@media only screen and (max-width:400px){
nav .brand-logo{
    left: 1%;
    transform: translateX(0);
    webkit-transform: translateX(0);
}
}