#logo{
    padding-left: 20px;
}

#image1{
    width:100%;
  /* -webkit-filter: blur(4px);
  -webkit-transform: translate3d(0,0,0);
*/
}

@font-face{
    font-family: 'K2D', sans-serif;
    src: url('../fonts/K2D/K2D-Regular.ttf')
}

@font-face{
    font-family: 'Raleway', sans-serif;
    src: url('../fonts/Raleway/Raleway-Regular.ttf')
}

h1{
    font-family: 'K2D', sans-serif;
}

p.carousel-text{
    padding: 25px;
    font-size: 100px;
}

.carousel-item h1{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
}

nav#topNav{
    position: fixed;
    top:0;
    z-index: 100;
}
 
div.card.small{
    height: 200px;
}

div#intro{
    background:linear-gradient(90deg, rgba(0,15,36,0.7952586206896551) 0%, rgba(9,121,120,0.7629310344827587) 35%, rgba(0,204,128,0.8060344827586207) 100%),
    url('../images/jpgedit.jpg') repeat;
    width: 100%;
    min-height: 750px;
    background-position: 50% 0;
    background-size: cover;
}

h1#intro-text{
    padding-top: 0px;
    margin-top: 0px;
    top: 290px;
    position: relative;
}

.teal-text{
    color: #1de9b6 !important;
}

.fancy-gradient{
    background:-webkit-linear-gradient(90deg, rgba(0,15,36,0.7952586206896551) 0%, rgba(9,121,120,0.7629310344827587) 35%, rgba(0,204,128,0.8060344827586207) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
div.greyedout{
    background-color: #424B54 !important;
}

.dark-teal-text{
    color: #0F7173 !important;
}

.col.l6 .card-image{
    max-height: 200px;   
}

.card.large .card-image+.card-content#aboutcard{
    max-height: 100%; 
}

a#careerbtn{
    margin:auto;
}

div#rate-circle{
    width:300px;
    height:300px;
    margin-bottom: 10px;
}

.fa{
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 15px;
}

iframe{
    overflow-x: scroll;
    height: 450px;
    width: 450px;
    position: relative;
} 

.teal-gradient{
    background:linear-gradient(90deg, rgba(0,15,36,0.7952586206896551) 0%, rgba(9,121,120,0.7629310344827587) 35%, rgba(0,204,128,0.8060344827586207) 100%);
    background-attachment: fixed;
}

.invisible{
    background: transparent !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

img#insurance{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    margin: 0 auto;
}

@media only screen and (max-width:400px){
    nav .brand-logo{
        left: 1%;
        transform: translateX(0);
        webkit-transform: translateX(0);
    }

    iframe{
        overflow-x: scroll;
        width: 300px;
        height: 300px;
    }

    div#rate-circle{
        width:300px;
        height:300px;
        margin-bottom: 10px;
    }
}